.SideMenuButton {
    margin: 10px;
}

.SideMenuButton button {
    padding: 0px 15px;
    background: #2b7aaf;
    border: none;
    box-shadow: 1px 1px 3px black;
    border-radius: 4px;
    font-size: 30px;

}

@media only screen and (min-width: 1000px) {
    .SideMenuButton {
        display: none;
    }
}
