.SideMenu {
    background: rgba(120, 139, 150, 0.63);
    display: block;
    z-index: 200;
    width: 100%;
}

@media only screen and (min-width: 1000px) {
    .SideMenu {
        display: none;
    }
}