.GrammarOutput {
	background: #3673c4fb;
	box-shadow: 3px 3px 3px gray;
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 3px;
}

.Rule {
	font-size: 4vh;
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #3d3d3d;
	text-align: left;
	padding: 0 5px;
}

.Rule:last-of-type {
	border-bottom: none;
}

.GrammarOutput button {
	background: #bd88c7;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	margin: 10px;
	font-size: 2vh;
	cursor: pointer;
}

.GrammarOutput button:hover {
	background: #ad68bb;
	cursor: pointer;
}

.TableContainer {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.RegExpInputsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 0 30px 30px 30px;
}

.RegExpInput input {
	background: none;
	border:none;
	border-bottom: 1px solid black;
	font-size: 2.5vh;
	margin: 2px;
	color: #4d2e16;
}

.RegExpInput label {
	font-size: 2.5vh;
}

.StringInput input {
	background: none;
	border: none;
	border-bottom: 1px solid black;
	font-size: 2.5vh;
	margin: 2px;
}

.RegExpInput input:focus,
.StringInput input:focus {
	outline: 0;
	border-bottom: 1px solid white;
}