.Lexic {
	background-color: #eaeaea;
    padding: 10px;
    margin-top: 42px;
	padding-bottom: 42px;
	height: auto;
	min-height: 100%;
}

.Lexic h1 {
	text-align: center;
}

.Lexic h2 {
	padding: 30px;
}