.ParserTable {
	font-size: 2vh;
	border-collapse: collapse;
	background: #e0e0e0;
	display: inline-block;
	margin: 10px;
}

th,
td {
	border: 1px solid black;
}

td.shift {
	color: blue;
}

td.reduce {
	color: #c00000;
}

td.accept {
	color: green;
}
